
@{
	Layout = null;
}

<!DOCTYPE html>

<html ng-app="MainApp">
<head>
	<meta name="viewport" content="width=device-width" />
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/application")

	@Styles.Render("~/bundles/bootstrap-css")
	@Styles.Render("~/bundles/styles")
	
	<title>Index</title>
</head>
<body>

	<ng-view />

</body>
</html>
