
@{
	Layout = null;
}

<!DOCTYPE html>

<html ng-app="MainApp">
<head>
	<meta name="viewport" content="width=device-width" />
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/application")

	@Styles.Render("~/bundles/bootstrap-css")
	<title>Index</title>
</head>
<body>
	<div class="container" style="padding-top: 75px;">
		<ng-view />
	</div>
</body>
</html>
