@{
	Layout = null;
}

<!DOCTYPE html>

<html ng-app="OnlinerTracker">
<head>
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/bundles/bootstrap-css")
	@Styles.Render("~/bundles/styles")

	<title>Index</title>
</head>
<body>
	<div ng-view></div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/signalr")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/application")
</body>
</html>
