
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/angular/application")

	@Styles.Render("~/bundles/bootstrap-css")
	<title>Index</title>
</head>
<body>
	<div class="container">
		<div>
			<a class="btn btn-group btn-social btn-twitter">
				<span class="fa fa-twitter-square"></span>
				Twitter
			</a>
		</div>

		<ng-view />
	</div>
</body>
</html>
